<div class="row">
  <div class="col-sm-12 text-center">
    <h1>List of certifications</h1>
  </div>
</div>
<div class="row" *ngIf="vendors && vendors.length > 0">
  <div class="col-sm-1 text-center" *ngFor="let vendor of vendors">
    <button
      class="btn btn-outline-info cl__vendor--btn"
      (click)="selectVendor(vendor)"
      [ngClass]="{'active': selectedVendorId === vendor.id}">{{vendor.title}}</button>
  </div>
</div>
<ngx-spinner bdColor="rgba(0,0,0,0)"
             size="large"
             color="#000000"
             type="line-scale">
</ngx-spinner>
<ng-container *ngIf="certifications.length > 0">
  <div class="row cl__row">
    <div class="col-sm-6">
      <input
        class="form-control"
        placeholder="Enter certification title..."
        [(ngModel)]="searchStr"
        (ngModelChange)="filterCertifications($event)">
    </div>
    <div class="col-sm-6">
      <button class="btn btn-outline-dark" (click)="resetSearch()">Reset</button>
    </div>
  </div>
  <div class="row cl__row">
    <div class="col-sm-12">
      <ul class="list-group">
        <app-certification-item
          *ngFor="let certification of certifications"
          [certification]="certification"
          [vendors]="vendors">
        </app-certification-item>
      </ul>
    </div>
  </div>
</ng-container>
