<ng-template #choose_cert_date let-close="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Choose certification expire date:</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Certification expire date:</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" (dateSelect)="onCertDateSelect($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Save</button>
  </div>
</ng-template>

<div *ngIf="userCert">
  <div class="row">
    <div class="col-sm-9 text-left">
      <div class="row">
        <div class="col-sm-12">
          <h3>{{ userCert.certification?.title }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <span class="usi__vendor--span">{{ vendor?.title }}</span>
        </div>
        <div class="col-sm-6">
          <span class="usi__vendor--span">{{userCert.expiration_date|date:'y-MM-d'}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-left">
      <button class="btn btn-outline-primary" (click)="openDateModal(choose_cert_date)">Edit</button>
      <button class="btn btn-outline-danger usi__btn" (click)="deleteUserCert()">Delete</button>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="row">
  </div>
  <div class="row" *ngIf="userCert.certification && userCert.certification.description">
    <div class="col-sm-12">
      <p>{{ userCert.certification.description }}</p>
    </div>
  </div>
  <div class="row" *ngIf="userExams?.length > 0">
    <app-user-certification-exam [userExam]="exam" *ngFor="let exam of userExams"></app-user-certification-exam>
  </div>
</div>
