<app-title [title]="'Create new certification for ' + vendor.title" *ngIf="vendor"></app-title>
<app-error-message [error]="errorMessage" *ngIf="errorMessage"></app-error-message>
  <form #certForm="ngForm" (ngSubmit)="createCertification(certForm)">
    <div class="form-row">
      <div class="form-group col-md-6 offset-3">
        <label for="idTitle">Certification title:</label>
        <app-question-icon placement="top" tooltip="This field is required"></app-question-icon>
        <input
          type="text"
          id="idTitle"
          class="form-control"
          required
          name="title"
          [(ngModel)]="formData.title"
          #title="ngModel">
        <app-error-message [error]="'This field is required'" *ngIf="!title.valid && title.touched"></app-error-message>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 offset-3">
        <label for="idNumber">Certification number</label>
        <input
          type="text"
          id="idNumber"
          class="form-control"
          name="number"
          [(ngModel)]="formData.number">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 offset-3">
        <label for="idDescription">Certification description</label>
        <textarea
          id="idDescription"
          class="form-control"
          rows="3"
          name="description"
          [(ngModel)]="formData.description">
        </textarea>
      </div>
    </div>
    <div class="form-row form-check">
      <div class="form-group col-md-6 offset-3">
        <input
          type="checkbox"
          class="form-check-input"
          id="idDeprecated"
          name="deprecated"
          [(ngModel)]="formData.deprecated">
        <label class="form-check-label" for="idDeprecated">Is deprecated</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 offset-3">
        <button class="btn btn-outline-primary" [disabled]="!certForm.valid && certForm.touched">Save</button>
      </div>
    </div>
  </form>
