<li class="list-group-item" routerLinkActive="active-link">
  <div class="row">
    <div class="col-sm-12">
      <span class="certification__title--span">{{ vendor.title }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a [routerLink]="userCert.id" class="certification__title--a">{{ userCert.certification.title }}</a>
      <br>
      <a
        (click)="isCollapsed = !isCollapsed"
        href="javascript:void(0)"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="certificationDescription"
        class="certification__description--a"
        *ngIf="userCert.certification.description">
        <span *ngIf="isCollapsed; else hideText">View</span> description
        <ng-template #hideText>
          <span>Hide</span>
        </ng-template>
      </a>
      <div id="certificationDescription" [ngbCollapse]="isCollapsed" *ngIf="userCert.certification.description">
        <span class="certification__description--span">
          {{ userCert.certification.description }}
        </span>
      </div>
    </div>
  </div>
</li>
