<div class="row">
  <div class="col-sm-12 text-center">
    <h1 *ngIf="certification">Add exams to certification: {{certification.title}}</h1>
  </div>
</div>
<app-error-message [error]="errorMessage"></app-error-message>
<app-notification-message [message]="infoMessage"></app-notification-message>
<div class="row caee__row">
  <div class="col-sm-6">
    <input class="form-control" placeholder="Enter exam title..." [(ngModel)]="searchStr" (ngModelChange)="filterExams()">
  </div>
  <div class="col-sm-1 text-center">
    <button class="btn btn-outline-dark" (click)="resetSearch()">Reset</button>
  </div>
  <div class="col-sm-1 text-center">
    <button class="btn btn-outline-primary">New</button>
  </div>
</div>
<ngx-spinner bdColor="rgba(0,0,0,0)"
             size="large"
             color="#000000"
             type="line-scale">
</ngx-spinner>
<div class="row">
  <div class="col-sm-8">
    <ul class="list-group" *ngIf="exams.length > 0">
      <li class="list-group-item" *ngFor="let exam of exams">
        <div class="row">
          <div class="col-sm-10">
            <app-certification-exam-item [exam]="exam"></app-certification-exam-item>
          </div>
          <div class="col-sm-2 text-center">
            <button class="btn btn-outline-success" (click)="addExamToCertification(exam)">Add</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
