<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <h1>Restore your password.</h1>
    <form (ngSubmit)="onResetPassword(f)" #f="ngForm">
      <div *ngIf="(authState|async).errorMessage !== null" class="alert alert-danger">
        {{(authState|async).errorMessage}}
      </div>
      <div *ngIf="(authState|async).message !== null" class="alert alert-light">
        {{(authState|async).message}}
      </div>
      <div class="form-group">
        <app-question-icon
          placement="top"
          tooltip="Your email should be in format: email@domain.dom">
        </app-question-icon>
        <label for="email">Enter your email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
          name="email"
          required
          ngModel
          [email]="true"
          #email="ngModel"
        >
        <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
          Your email should be in format: email@domain.dom
        </div>
      </div>
      <div class="arp__block">
        We will send the link to your email, for restore password.
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Send restore email link</button>
    </form>
  </div>
</div>
