<div class="row">
  <div class="col-sm-12 text-center">
    <h2>My certifications</h2>
  </div>
</div>
<div class="row">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div class="col-sm-4" *ngIf="userCertifications && vendors">
    <ul class="list-group">
      <app-user-certification-list-item
        *ngFor="let userCertEl of userCertifications"
        [userCert]="userCertEl"
        [vendors]="vendors">
      </app-user-certification-list-item>
    </ul>
  </div>
  <div class="col-sm-4">
    <router-outlet></router-outlet>
  </div>
</div>
