<app-title [title]="'About Re:Minder'"></app-title>
<div class="row">
  <div class="col">
    <p class="text-justify">
      This application is designed for IT professionals who are forced to track multiple certifications.
      You can create a certification (or add your own if it is not in our database), specify the date of passing and add examinations to it (or add your own if not in our database) and indicate the date of their passing.
      Hope this application helps you keep up.
    </p>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <h2>Terms of Use</h2>
    <h4>This Terms of Conditions is between you and Re:Minder.</h4>
    <p class="text-justify">
      By using the Re:Minder App, you agree to be bound by this Agreement and understand that there is no tolerance for objectionable content. If you do not agree with the terms and conditions of this Agreement, you are not entitled to use the Re:Minder.
      <br>
      In order to ensure Re:Minder provides the best experience possible for everyone, we strongly enforce a no tolerance policy for objectionable content. If you see inappropriate content, please use the contact us by email: <a href="mailto:reminder@techforline.com">"reminder@techforline.com"</a>.
    </p>
    <ol class="text-justify">
      <li>
        Parties This Agreement is between you and Re:Minder only. Re:Minder, is solely responsible for the Re:Minder App and its content.
      </li>
      <li>
        Privacy Re:Minder may collect and use information about your usage of the Re:Minder App, including certain types of information from and about your device. Re:Minder may use this information, as long as it is in a form that does not personally identify you, to measure the use and performance of the Re:Minder App.
      </li>
      <li>
        Limited License Re:Minder grants you a limited, non-exclusive, non-transferable, revocable license to use the Re:Minder App for your personal, non-commercial purposes. You may only use the Re:Minder App on devices that you own or control.
      </li>
      <li>
        Age Restrictions By using the Re:Minder App, you represent and warrant that (a) you are 18 years of age or older and you agree to be bound by this Agreement; (b) if you are under 17 years of age, you have obtained verifiable consent from a parent or legal guardian; and (c) your use of the Re:Minder App does not violate any applicable law or regulation. Your access to the Re:Minder App may be terminated without warning if Re:Minder believes, in its sole discretion, that you are under the age of 17 years and have not obtained verifiable consent from a parent or legal guardian. If you are a parent or legal guardian and you provide your consent to your child's use of the Re:Minder App, you agree to be bound by this Agreement in respect to your child's use of the Re:Minder App.
      </li>
      <li>
        Objectionable Content Policy Content may not be submitted to Re:Minder, who will moderate all content and ultimately decide whether or not to post a submission to the extent such content includes, is in conjunction with, or alongside any, Objectionable Content. Objectionable Content includes, but is not limited to: (i) sexually explicit materials; (ii) obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (iii) content that infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary right, or that is deceptive or fraudulent; (iv) content that promotes the use or sale of illegal or regulated substances, tobacco products, ammunition and/or firearms; and (v) gambling, including without limitation, any online casino, sports books, bingo or poker.
      </li>
      <li>
        Warranty Re:Minder disclaims all warranties about the Re:Minder App to the fullest extent permitted by law. To the extent any warranty exists under law that cannot be disclaimed, Re:Minder, shall be solely responsible for such warranty.
      </li>
      <li>
        Maintenance and Support Re:Minder does provide minimal maintenance or support for it but not to the extent that any maintenance or support is required by applicable law, Re:Minder, shall be obligated to furnish any such maintenance or support.
      </li>
      <li>
        Product Claims Re:Minder, is responsible for addressing any claims by you relating to the Re:Minder App or use of it, including, but not limited to: (i) any product liability claim; (ii) any claim that the Re:Minder App fails to conform to any applicable legal or regulatory requirement; and (iii) any claim arising under consumer protection or similar legislation. Nothing in this Agreement shall be deemed an admission that you may have such claims.
      </li>
      <li>
        Third Party Intellectual Property Claims Re:Minder shall not be obligated to indemnify or defend you with respect to any third party claim arising out or relating to the Re:Minder App. To the extent Re:Minder is required to provide indemnification by applicable law, Re:Minder, shall be solely responsible for the investigation, defense, settlement and discharge of any claim that the Re:Minder App or your use of it infringes any third party intellectual property right.
      </li>
    </ol>
  </div>
</div>
