/* You can add global styles to this file, and also import other style files */
.icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-right: 4px;
}
.cursor-pointer {
  cursor: pointer;
}
.vendor__title--span {
  font-size: 0.8em;
}
.certification__description--span {
  font-size: 0.8em;
  color: dimgrey;
  border-top: 1px solid gray;
  display: inline-block;
}
