<div class="card uce__card">
  <div class="card-body">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <span class="card-subtitle mb-2 text-muted">{{userExam.exam.number}}</span>
    <h5 class="card-title">{{ userExam.exam.title }}</h5>
    <span class="card-subtitle mb-2 text-muted">{{userExam.date_of_pass|date:'y-MM-d'}}</span>
    <p class="card-text" *ngIf="userExam.exam.description">{{userExam.exam.description}}</p>
    <div class="uce__card--buttons">
      <button class="btn btn-outline-primary" (click)="openModal()">Edit</button>
      <button class="btn btn-outline-danger" (click)="deleteExam()">Delete</button>
    </div>
  </div>
</div>
